version: "3.9"

services:
  traefik:
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    ports:
      - ${TRAEFIK_PORT-8889}:80
      - ${TRAEFIK_DASHBOARD_PORT-8890}:8080

  api:
    build:
      context: ../api
      dockerfile: Dockerfile
      target: development
    volumes:
      - ../api:/home/app
    ports:
      - "3654:8000"
    command: "./entrypoint.sh uvicorn --host 0.0.0.0 --reload src.main:app"

  taxapi:
    build:
      context: ../taxapi
      dockerfile: Dockerfile
    ports:
      - "5666:5666"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
      target: development
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/"]
      interval: 30s
      timeout: 60s
      retries: 5
    volumes:
      - ../frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"

  db:
    ports:
      - "5433:5432"

  minio:
    ports:
      - "9000:9000"
      - "9001:9001"

  keycloak:
    ports:
      - "8888:8080"
    volumes:
      - ../keycloak/realm.json:/opt/keycloak/data/import/realm.json
      - ../keycloak/theme/customtheme:/opt/keycloak/themes/customtheme
    command: start-dev --spi-theme-static-max-age=-1 --spi-theme-cache-themes=false --spi-theme-cache-templates=false --import-realm

  doc:
    image: squidfunk/mkdocs-material:8.3.9
    ports:
      - "8133:8000"
    volumes:
      - ../docs:/docs
