[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
httpx = "*"
pillow = "*"
celery = {extras = ["redis"], version = "*"}
torch = "*"
torchvision = "*"
yolov5 = "*"
timm = "*"
pandas = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
autoflake = "*"

[requires]
python_version = "3.8"
