body {
    background: #D5DEDB !important;
}

#geocamlogo {
    max-width: 200px;
    height: auto;
}

.card-pf{
    border-radius: 25px;
    border-top: none;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
}

#username:focus, #password:focus {
    border-bottom-color: #2FA37C;
}

#username, #password {
    background-color: #F5F5F5;
    outline: none !important;
    box-shadow: none !important;
}


#kc-login{
    border-radius: 50px;
    background: #2FA37C;
    width: fit-content;
    padding: 8px 32px;
    margin: 0 auto;
}