[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn main:app --reload --host 0.0.0.0 --port 5777" 