[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = ">=1.4.17,<=1.4.35"
python-multipart = "*"
psycopg2-binary = "*"
boto3 = "*"
unipath = "*"
sqlmodel = "*"
sqlalchemy-utils = "*"
exif = "*"
pillow = "*"
alembic = "*"
pydantic = {extras = ["dotenv"], version = "*"}
fastapi-keycloak = "*"

[dev-packages]
httpx = ">=0.23.0"
pytest = "*"
isort = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn src.main:app --reload --host 0.0.0.0"
prod = "uvicorn src.main:app --host 0.0.0.0"
dataInsertion =  "python data.py"
test = "pytest tests/. --cov-report html:/app/htmlcov --cov=."
