[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.103,<0.110"
uvicorn = ">=0.27,<0.30"
python-multipart = "*"
psycopg2-binary = "*"
boto3 = "*"
unipath = "*"
sqlalchemy = "*"
sqlmodel = ">=0.0.14"
sqlalchemy-utils = "*"
exif = "*"
pillow = "*"
alembic = ">=1.13,<2.0"
pydantic = {extras = ["dotenv"], version = ">=1.10.13,<2.0"}
python-magic = "*"
fastapi-keycloak = "==1.0.10"
starlette = ">=0.27,<0.28"

[dev-packages]
httpx = ">=0.23.0"
pytest = "*"
isort = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn src.main:app --reload --host 0.0.0.0"
prod = "uvicorn src.main:app --host 0.0.0.0"
dataInsertion =  "python data.py"
test = "pytest tests/. --cov-report html:/app/htmlcov --cov=."
