[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-multipart = "*"
psycopg2-binary = "*"
boto3 = "*"
python-decouple = "*"
unipath = "*"
sqlmodel = "*"
sqlalchemy-utils = "*"
exif = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn main:app --reload --host 0.0.0.0"
prod = "uvicorn main:app --host 0.0.0.0"
dataInsertion =  "python data.py"
test = "pytest tests/. --cov-report html:/app/htmlcov --cov=."
